*{
	box-sizing: border-box;
}
body,html{
	font-size: 18px;
	margin: 0;
	padding: 0;
	font-family: "helvatica";

}
/*header*/
.navbar{
	background-color: #4d4d4d!important;
	/*padding-bottom: 40px;*/
}
/* padding-bottom so it finds more space as navbar plays an important rules to change the color and content everything*/
a.col{
	color: white!important;

	/*padding: 0px;*/
}
li.nav-item{
	padding-right: 1%;
} 
/*jumbotron*/
.picture{
	background: url(../image/pexels-photo-102127.jpeg)  center center no-repeat;
	background-size: cover;
	margin-top:3.5%;
	position: relative;
}
.overlay{
	background: rgba(0,0,0,0.6);
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
h1.display-3{
	color:white;
	text-align: center;
	font-size: 5em;
	font-weight: bold;
}
.project{
	text-align: center;
	font-weight: bold;
}
.container i.fa{
	/*position: absolute;
	top: 100px;*/
	color:#B22222;
	/*color:yellow;*/
	cursor: pointer;
}
/*2nd part welcome*/
#color{
	background: blue;
}
.end{
	background: url(../image/dandelion-clock-brown-vase-92525344.jpg) center center no-repeat;
	background-size: cover;
}
.right{
	background: #ffffcc;
}

/*font awesome*/

.red{
	text-align: justify;
	color: black;
}
.project h2{
	font-size: 36px;
}
.project a i {
	color: green;
}
/*.project p{
	color: blue;
}*/
.project a.active i{
	color: red;
}
.project a.act i{
	color: yellow;
}
footer{
	background-color: #4d4d4d;
	/*height: 200px;*/
}
 ul{
	list-style: none;
	display: flex;
	text-align: center;
	justify-content: center;
	/*margin-top: 10px;*/
}
/*li{
	padding: 10px ;
}*/
/*li a {
	color: white;
}*/
.full h2{
	font-size: 18px;
	color: white;
	text-align: center;
}
#foot i.fa.not{
	color:yellow;
	text-align: center;
}
#foot i.fa{
	padding-right: 20px;
	color: orange;
}
.go{
	color: red;
}
/*happy clints*/
.clints{
	background-color: #4d4d4d;
	opacity: 0.8;

}
.white{
	font-size: 1.5em;
	color:white;
}
/* slick */

.maroon{
	color: #f49242;
}
.pink{
	color:#42f4b9;
}
/*end of slick*/
@media only screen and (max-width: 480px){
	body{
		font-size: 16px;
	}
	.picture{
		margin-top: 12%;}
	a.col{
		font-size: .85em!important;
		color:pink!important;

	}
	#start{
		width: 100%;
	}
	h1.display-3{
		font-size: 2em;
		color:purple;
	}
	.project h2{
		font-size: 1.2em;

	}
	.project p,.right p,.end p{
		font-size: 0.75em;
		color:orange;
	}
	/*gallary*/
	.gal h1{
		font-size: 1.2em;
	}
	.gal h3{
		font-size: 1em;
	}
	.gal p{
		font-size: 0.8em;
		color: maroon;
	}
}
@media only screen and (min-width: 481px) and (max-width: 768px){
	body{
		font-size: 20px;
	}
	h1.display-3{
		font-size: 2.5em;
		color:blue;
	}
	.project h2{
		font-size: 1.6em;
	}
	.project p,.right p,.end p{
		font-size: 0.85em;
		color:maroon;
	}
	a.col{
		font-size: 1em!important;
		color:yellow!important;

		
	}
	.navbar{
	background-color: orange!important;
	padding-bottom: 40px;
}
}